

/*.banner {
    /*background-image: url('../Site-institucional/assets/img/bg-jelly-fish-para_outras_pags.png');*/


    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      word-wrap: break-word;
      overflow-wrap: break-word;
  }
  
  .header {
      background-color: #3498DB;
      color: white;
      position: fixed;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
  }
  
  .header .container {
      display: flex;
      justify-content: space-between;
  }
  
  .title{
      font-size: 23px;
  }
  
  .navbar {
      display: flex;
      list-style-type: none;
      width: 300px;
      justify-content: space-between;
      align-items: center;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
  }
  
  .navbar a {
      text-decoration: none;
      color: white;
  }
  
  /*.banner {
      /*background-image: url('../Site-institucional/assets/img/bg-jelly-fish-para_outras_pags.png');*/
  
  .banner-login{
      background-color: #3498DB;
      background-position: bottom;
      background-size: cover;
      box-shadow: 0px 4px 80px 0 rgb(0, 0, 0, 0.2);
  }
  
  .banner-login .container {
      height: 550px;
      display: flex;
      color: white;
      justify-content: space-around;
      align-items: center;
  }
  
  .img_banner{
      height: 400px;
  }
  
  .banner-login p {
      font-size: 40px;
      width: 500px;
  }
  
  
  
  .banner .container {
      height: 550px;
      display: flex;
      color: white;
      align-items: center;
  }
  
  .banner p {
      font-size: 30px;
      width: 300px;
      margin: left 20%;
  }

  .local {
    border-top: 1px solid #bdbabae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 20px 0px;
    text-align: center;
  }

  .loc {
    padding-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #3498DB;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .maps {
    padding-top: 3vh;
    width: 60%;
    height: 56vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
    margin-bottom: 80px;
  }

  .footer {
      background-color: #3498DB;
      color: white;
  }
  
  .footer .container {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
  }
  
  .agora {
      font-weight: bolder;
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 3px;
      cursor: pointer;
  }
  
  .agora:hover{
      border-bottom:2px solid black;
      transition: 0.5s;
  }
  
  .card .h2 {
      margin: 0;
  }
  
  .banner .container.login {
      justify-content: center;
  }
  
  
  form{
      display: flex;
      flex-direction: column;
      width: 70%;
  }
  
  
  form label {
      margin-top: 10px;
  }
  
  form input {
      margin-top: 8px;
      outline:0;
      border: 0;
      border-bottom: 1px solid #3498DB;
      padding: 7px;
      border-radius:0px;
      background-color: #e5e5e58c;
  }
  
  input:focus, textarea:focus {
      border-color: #3498DB !important;
  }
  
  input:invalid, textarea:invalid {
      border-color: red;
  }
  
  input:valid, textarea:valid {
      border-color: green;
  }
  
  .card-login form input{
      margin-top: 10px;
      margin-bottom: 10px;
      outline:0;
      border: 0;
      border-bottom: 1px solid #3498DB;
      padding: 8px;
      border-radius:0px;
  }
  
  form input:hover{
      border-bottom: 1px solid black;
      transition: 0.5s;
  }
  
  form button {
      margin-bottom: 10px;
      margin-top: 15px;
      background-color: #3498DB;
      color: white;
      height: 35px;
      width: 100%;
      align-self: center;
      font-size: 18px;
      border: 0;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
  }
  
  form button:hover{
      background-color: black;
      color:white;
      transition: 1s;
  }
  
  h3 {
      color: #3498DB;
  }
  
  .card-cadastro form{
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: center;
  }
  
  .card-cadastro{
      display: flex;
      flex-direction: column;
      border: 1px solid #bdbabae5;
      border-radius: 5px;
      color: #3498DB;
      height: 430px;
      margin-top: 5%;
      width: 70%;
      align-items: center;
      box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
      z-index: 5;
  }
  
  
  
  .card-login{
      box-shadow: 0 4px 80px 0 rgb(0, 0, 0, 0.2);
      border: 1px solid #bdbabae5;
      border-radius: 5px;
      color: #3498DB;
      width: 400px;
      height: 400px;
      margin-top: 40px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .cadastro {
      margin: 13px 0px 4px 0px;
  }
  
  .icon{
      width: 18px;
      height: 18px;
      margin-bottom: -3px;
      margin-right: 5px;
  }
  
  .imagem_site{
      height: 100px;
  }
  
  
  
  .missao_visao_valores{
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .missao_visao_valores .container_mvv {
      width: 100%;
  }
  
  .container_mvv {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 400px;
  }
  
  .container_mvv p{
      padding: 5px;
  }
  
  .contentmvv{
      box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 25%;
      height: 75%;
      border-radius: 5px;
      transition: transform 1s;
  }

  .contentmvv:hover{

      transform: scale(1.2);

  }
  
  
  .container_desc{
    margin-top: 5%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    /*box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);*/
}

.img_desc{
    width: 600px;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.text_desc{
    display: flex;
    align-items: flex-start;
    font-size: 45px;
    margin-left: 5%;
    height: 80%;
}

.quem_somos{
  font-size: 50px;
}

.text_desc b{
    color: #3498DB;
}
  
  
  .div_resposta_usuario {
      color: #3498DB;
  }
  
  .cards_input{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_input input{
      width: 100%;
      margin: 10px;
      float: right;
  }
  
  .card_email{
      display: flex;
      align-self: center;
      justify-content: center;
      width: 100%;
  }
  
  .card_email input{
      width: 100%;
      margin: 10px; 
  }
  
  .cards_senha{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_senha input{
      width: 50%;
      margin: 10px;
  }
  
  .cards_endereco{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_endereco input{
      width: 100%;
      margin: 10px;
  }
  
  .cards_cpnj{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  
  .cards_cpnj input{
      width: 50%;
      margin: 10px;
  }

  span {
    margin: 0px;
    font-size: 11px;
    margin-right: 0px;
    height: 2vh;
  }

  .div1 {
    width: 65%;
    display: flex;
    justify-content: center;
    
  }

  .div2 {
    width: 97%;
    display: flex;
    justify-content: space-between;
    
  }

  .div3 {
    width: 97%;
    display: flex;
    justify-content: center;
    
  }
  .div4 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    
  }

  .div5 {
    width: 97%;
    display: flex;
    justify-content: space-between;
    
  }

  .div8 {
    margin-top: 10px;
    width: 25%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 206, 206, 0.164);
    font-weight: bold;
    color: #3498DB;
    border: 1px solid gray;
  }

  .esqueceu {
      margin: 15px 0px 2px 0px;
      cursor: pointer;
      font-size: 15px;
      text-align: center;
  }

  .esqueceu a{
    color: #3498DB;
  }

  .banner_contato {
      width: 100%;
      height: 60vh;
      background-color: #3498DB;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .banner_contato .container{
      width: 80%;
  }

  .contato {
      width: 100%;
      height: 40vh;
      border: 2px solid #3498DB;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .contato h2{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: white;
  }

  .container .contatos1 {
      height: 50vh;
      margin-top: -28px;
  }
  .container .contatos1 h2{
      margin-bottom: 32px;
      text-align: center;
}

  .container .contatos2 {
    height: 42vh;
}
.container .contatos2 h2{
    text-align: center;
}

  .container .contatos3 {
    height: 42vh;
}
.container .contatos3 h2{
    text-align: center;
}

  .contatos1 {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .contatos2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

  
      }

      .contatos3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
  
      }

    .contatos1 a {
        margin: 0px 0px 5px 0px;
        color: white;
    }

    .contatos2 a {
        margin: 26px 0px 5px 0px;
        color: white;
    }

    .contatos3 a {
        margin: 26px 0px 5px 0px;
        color: white;
    }

    .facebook {
        width: 23px;
        height: 3vh;
        margin: 8px 5px 0px 0px;
    }

    .instagram {
        width: 23px;
        height: 4vh;
        margin: 8px 5px 0px 0px;
    }

    .twitter {
        width: 20px;
        height: 3vh;
        margin: 8px 10px 0px 0px;
    }

    .cardErro{
        width: 250px;
        height: 60px;
        border-radius: 3px;
        position: absolute;
        color: black;
        margin-left: 60%;
        border: 2px solid red;
        display: none;
        justify-content: center;
        text-align: center;
        background-color: white;
    }

    .cardErro img{
        width: 30px;
        height: 30px;
    }

    #mensagem_erro{
        margin-top: 5px;
        font-size: 20px;
    }


    .cardredirecionar{
        width: 150px;
        height: 50px;
        /*position: absolute;*/
        align-self: center;
        display: none;
        justify-content: center;
        text-align: center;
    }

    .cardredirecionar img{
        width: 50px;
        height: 50px;

    }


    .cardCadastro{
        width: 250px;
        height: 80px;
        border: 2px solid red;
        background-color: white;
        position: absolute;
        display: none;
        justify-content: center;
        text-align: center;
        color: black;
        border-radius: 3px;
        /*margin-left: 70%;*/
        margin-top: 5%;
        box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
    }

    .cardCadastro img{
        width: 30px;
        height: 30px;
    }

    #mensagem_erro_cadastro{
        margin-top: 15px;
        font-size: 20px;
    }
  

    .cardCadastroload{
        width: 250px;
        height: 120px;
        border: 2px solid green;
        background-color: white;
        position: absolute;
        display: none;
        justify-content: center;
        text-align: center;
        color: black;
        border-radius: 3px;
        /*margin-left: 70%;*/
        margin-top: 5%;
        box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
    }

    .cardCadastroload img{
        margin-top: 10px;
        width: 40px;
        height: 40px;
    }

    #mensagem_cadastro{
        margin-top: 10px;
        font-size: 20px;
    }
  
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
