body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #3498DB;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 23px;
}

.navbar {
  display: flex;
  list-style-type: none;
  width: 12vw;
  justify-content: space-between;
  align-items: center;
  
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/*.banner {
  /*background-image: url('../Site-institucional/assets/img/bg-jelly-fish-para_outras_pags.png');*/

.banner .container {
  height: 40vh;
  display: flex;
  color: white;
  align-items: center;
}

.banner2 .container {
  height: 70vh;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

#container3 {
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2);
  height: 200vh;
  width: 90%;
  padding-top: 10px;
  display: flex;
}


.banner p {
  font-size: 30px;
  width: 300px;
  margin: left 20%;
}

.footer {
  background-color: #3498DB;
  color: white;
}

.footer .container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.agora {
  font-weight: bolder;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
  cursor: pointer;
}

.agora:hover{
  border-bottom:2px solid black;
  transition: 0.5s;
}

.card .h2 {
  margin: 0;
}


.banner .container.login {
  justify-content: center;
}


.mychart{
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.mychart2{
  margin: 0px;
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

@keyframes n1 {

  from {height: 0px;}
  to {height: 130px;}

}


.metricas{
  width: 200px;
  height: 130px;
  float: left;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
}

.metricas.muitofrio{
  background-color: rgb(96, 0, 151);;
  color: white;
  animation-name: n1;
  animation-duration: 3s;
}

.metricas.alertafrio{
  background-color: rgb(60, 57, 250);
  color: white;
  margin-left: 15px;
  animation-name: n1;
  animation-duration: 3s;
}


.metricas.ideal{
  background-color: green;
  color: white;
  margin-left: 15px;
  animation-name: n1;
  animation-duration: 3s;
}

.metricas.alertaquente{
  background-color: rgb(255, 215, 0);
  color: white;
  margin-left: 15px;
  animation-name: n1;
  animation-duration: 3s;
}

.metricas.muitoquente{
  background-color: red;
  color: white;
  margin-left: 15px;
  animation-name: n1;
  animation-duration: 3s;
}

.sensores{
  box-shadow:0 4px 40px 0 rgba(0, 0, 0, 0.2);
  float: left;
  position: relative;
  width: 220px;
  height: 120px;
  background-color: red;
  color: white;
  border-radius: 3px;
  margin: 0px 0px 90px 10px;
  display: block;
}

.sensores h2{
  margin-left: 10px;
}

.sensores h1{
  margin-left: 10px;
  border-bottom: 1px solid white;
  margin-right: 10px;
}

.sensores.alertafrio{
  background-color: purple;
}

.sensores.alertaquente{
  background-color: orange;
  /* margin-bottom: 90px; */
  margin-left: 15px;
}

.sensores.muitofrio{
  background-color: blue;
}

.sensores.ideal{
  background-color: green;
}

.contentSelect {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentSelect .container {
  display: flex;
  justify-content: center;
}

.comp2 {
  display: flex;
  width: 15%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.gifG {
  margin: 10px 0px;
  width: 45%;
  height: 11.7vh;
  margin-bottom: 5px;
  margin-top: 16px;
}

.localV{
  background-image: url(../assets/img/v870-tang-15.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  background-size: 2000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;

}

.textV{
  width: 30%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 204);
  color: white;
  font-size: 30px;
  opacity: 0.8;
  border-radius: 3px 3px 3px 3px;
}

.textL{
width: 100%;
color: #3498DB;
font-size: 30px;
font-weight: 700;
height: 10vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
padding: 10px;
border-top: 2px solid rgb(204, 204, 204) ;
}

.textA{
  width: 100%;
  color: #3498DB;
  font-size: 30px;
  font-weight: 700;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  }

.delivery {
  background-size: 200px;
}

#selectSensores {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
}

.divHistorico{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 60%;
  border: 2px solid rgb(190, 190, 190);
  margin: 0px 30px 0px 30px;
}

.nomeH {
  width: 100%;
  color: #3498DB;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
  height: 30px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.container .nomeH{
  display: flex;
  justify-content: center;
  align-items: center;
}
